@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
html{
    background-color: #264653;
    font-family: 'JetBrains Mono ExtraBold';
}
h1{
    color: #e9c46a;
    font-size: 1.5rem;
}
p{
    color: #e9c46a;
    font-size: 1.5rem;
}
#codesnippet{
    font-size: 1.3rem;
    height: 9.5rem;
    margin: 2rem;
    font-family: monospace, sans-serif;
    color: black;
    box-shadow: 1rem 1rem 1rem black;
    background-color: #2a9d8f;
    width: 50rem;
}
#codesnippet:hover{
    transition: 1s;
    box-shadow: 1.5rem 1.5rem 1.5rem black;

}